<div class="container">
  <!-- Row containing the login form -->
  <div class="row">
    <div class="col card">
      <!-- Card header for the login section -->
      <h2 class="card-header">LOGIN</h2>
      <!-- Login form -->
      <form class="card-body login-form">
        <!-- Form group for username input -->
        <div class="form-group">
          <label class="form-label">Username:</label>
          <input class="form-input" type="text" id="username-login" />
        </div>
        <!-- Form group for password input -->
        <div class="form-group">
          <label class="form-label">Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <!-- Form group for login button -->
        <div class="form-group centerthisbutton">
          <button class="btn btn-primary" type="submit">LOGIN</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Row containing the sign-up form -->
  <div class="row">
    <div class="col card">
      <!-- Card header for the sign-up section -->
      <h2 class="card-header">SIGN UP</h2>
      <!-- Sign-up form -->
      <form class="card-body signup-form">
        <!-- Form group for username input -->
        <div class="form-group">
          <label class="form-label">Username:</label>
          <input class="form-input" type="text" id="username-signup" />
        </div>
        <!-- Form group for password input -->
        <div class="form-group">
          <label class="form-label">Password:</label>
          <input class="form-input" type="password" id="password-signup" />
          <!-- Additional information about password requirements -->
          <p>At Least 8 Characters Long</p>
        </div>
        <!-- Form group for sign-up button -->
        <div class="form-group centerthisbutton">
          <button class="btn btn-primary" type="submit">SIGN UP</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- JavaScript file for handling login functionality -->
<script src="/js/login.js"></script>
